.tools {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  li {
    width: calc((100% / 3) - 20px);
    padding: 20px;
    background: $color--lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    margin: 0 20px 20px 0;
    @include mobile {
      width: 100%;
      margin: 0 0 20px;
    }
    img {
      max-width: 60%;
    }
    &:nth-child(3) {
      margin: 0 0 20px;
    }
    &:last-of-type {
      margin: 0 0 20px;
      @include mobile {
        margin: 0;
      }
    }
  }
}