.rt__content {
  h3 {
    @include font-size(20);
    margin-bottom: 0.5rem;
    margin-top: 0;
    + p {
      margin-top: 0;
    }
  }
  p {
    @include font-size(16);
    &:first-of-type {
      margin-top: 0;
    }
  }
  a {
    color: $color--primary;
  }
}